@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  :root {
    --background: #f8fafc; /* slate-50 */
    --foreground: #1e293b; /* slate-800 */
  }
}

@layer utilities {
  .bg-grid-slate-pattern {
    background-image: 
      linear-gradient(to right, #1e293b 1px, transparent 1px),
      linear-gradient(to bottom, #1e293b 1px, transparent 1px);
    background-size: 2rem 2rem;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
